<?xml version="1.0" encoding="UTF-8"?>

<config>
  <modules>
    <Gaiproject_Restock>
      <version>0.0.1.0</version>
    </Gaiproject_Restock>
  </modules>
  <global>
    <models>
      <restock>
        <class>Gaiproject_Restock_Model</class>
        <resourceModel>restock_resource</resourceModel>
      </restock>
      <catalog>
        <rewrite>
            <product_option>Gaiproject_Restock_Model_Catalog_Product_Option</product_option>
        </rewrite>
      </catalog>
    </models>
    <restock_resource>
        <class/>
        <entities/>
    </restock_resource>
    <resources>
        <restock_setup>
            <setup>
                <module>Gaiproject_Restock</module>
                <class>Mage_Catalog_Model_Resource_Setup</class>
            </setup>
        </restock_setup>
    </resources>
    <helpers>
      <restock>
        <class>Gaiproject_Restock_Helper</class>
      </restock>
    </helpers>
    <blocks>
      <restock>
        <class>Gaiproject_Restock_Block</class>
      </restock>
     <adminhtml>
        <rewrite>
            <catalog_product_edit_tab_options_option>Gaiproject_Restock_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
        </rewrite>
      </adminhtml>
    </blocks>
    <catalog>
      <product>
        <type>
          <restockable>
            <label>Restockable Product</label>
            <model>restock/catalog_product_type_restockable</model>
            <composite>0</composite>
          </restockable>
          <grouped>
            <allow_product_types>
              <restockable/>
            </allow_product_types>
          </grouped>
          <bundle>
            <allow_product_types>
              <restockable/>
            </allow_product_types>
          </bundle>
          <configurable>
            <allow_product_types>
              <restockable/>
            </allow_product_types>
          </configurable>
        </type>
        <options>
            <custom>
              <groups>
                <cron>
                  <label>Scheduler Type</label>
                  <render>restock/adminhtml_catalog_product_edit_tab_options_type_cron</render> 
                  <types>
                    <cron>
                        <label>Cron</label>
                    </cron>
                    <quartz>
                        <label>Quartz</label>
                    </quartz>
                  </types>
                </cron>
              </groups>
            </custom>
        </options>
      </product>
    </catalog>
    <events>
        <catalog_product_save_before>
            <observers>
                <restock>
                    <type>singleton</type>
                    <class>restock/observer</class>
                    <method>catalog_product_save_before</method>
                </restock>
            </observers>
        </catalog_product_save_before>
    </events>
  </global>
  <frontend>
    <routers>
      <restock>
        <use>standard</use>
        <args>
          <module>Gaiproject_Restock</module>
          <frontName>restock</frontName>
        </args>
      </restock>
    </routers>
    <layout>
      <updates>
        <restock>
          <file>restock.xml</file>
        </restock>
      </updates>
    </layout>
  </frontend>
</config>
